body{
	background-image: url("mald imde fond.webp");
}

#les-temples{
	display: flex;
	margin-left: 100px;
	margin-bottom: 100px;
	height: 400px;
}

#title{
	font-weight: bold;
}

#les-temples div{
	display: block;
	width: 560px;
	text-align: center;
}

#les-temples img{
	width: 600px;
	margin-left: 40px;
	height: 300px;
	margin-bottom: 100px;
}

#tour-skytree{
	display: flex;
	margin-top: 100px;
	margin-left: 100px;
}

#tour-skytree div{
	display: block;
	width: 600px;
	text-align: center;
}

#tour-skytree img{
	width: 560px;
	margin-left: 40px;
}